body {
    font-family: 'Sono', sans-serif;
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #463F3A;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

nav {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #efefef;
    color: black;
}

/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}

aside {
    text-align: center;
    background-color: #463F3A;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0.5rem;
    width: 20vw;
    margin: auto;
}

form {
    text-align: center;
    padding: 10px;
}
#keyword {
    padding: .5rem;
}

article {
    text-align: center;
}

article h3 {
    border: 1px solid #5EB1BF;
    padding: 10px;
}

h1 {
    color: white;
    padding: 20px;
    font-family: 'Bungee', cursive;
}

#header-section {
    background-color: #FF1654;
}

form label {
    color: white;
}

[class^="song-details"] {
    display: none;
    width: 700px;
    margin: auto;
    border: 1px solid #5EB1BF;
}

[class^="song-details"] img {
    grid-column: 1;
}

[class^="song-details"] div {
    grid-column: 2;
}